<ion-view view-title="Attendance" >
    <ion-content mm-state-class>
        <ul class="list">
            <li class="item item-divider">
                <p>Class 1</p>
            </li>
            <li>
                <p class="item-heading">Class 1 A</p>
                <a href="">Attendance</a>
            </li>
            <li>
                <p class="item-heading">Class 1 B</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-divider">
                <p>Class 2</p>
            </li>
            <li>
                <p class="item-heading">Class 2 A</p>
                <a href="">http://34.193.134.218/mod/attendance/manage.php?id=385</a>
            </li>
            <li>
                <p class="item-heading">Class 2 B</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-divider">
                <p>Class 3</p>
            </li>
            <li>
                <p class="item-heading">Class 3 A</p>
                <a href="">Attendance</a>
            </li>
            <li>
                <p class="item-heading">Class 3 B</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-divider">
                <p>Class 4</p>
            </li>
            <li>
                <p class="item-heading">Class 4 A</p>
                <a href="">Attendance</a>
            </li>
            <li>
                <p class="item-heading">Class 4 B</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-divider">
                <p>Class 5</p>
            </li>
            <li>
                <p class="item-heading">Class 5 A</p>
                <a href="">Attendance</a>
            </li>
            <li>
                <p class="item-heading">Class 5 B</p>
                <a href="">Attendance</a>
            </li>
        </ul>
    </ion-content>
</ion-view>
