<ion-view view-title="Attendance" >
    <ion-content mm-state-class>
        <ul class="list">
            <li class="item item-divider">
                <p>Class 6</p>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 6 A</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 6 B</p>
                <a href="">Attendance</a>
            </li>

            <li class="item item-divider">
                <p>Class 7</p>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 7 A</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 7 B</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-divider">
                <p>Class 8</p>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 8 A</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 8 B</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-divider">
                <p>Class 9</p>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 9 A</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 9 B</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-divider">
                <p>Class 10</p>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 10 A</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 10 B</p>
                <a href="">Attendance</a>
            </li>

        </ul>
    </ion-content>
</ion-view>
