<ion-view view-title="Attendance" >
    <ion-content mm-state-class>
        <ul class="list">
            <li class="item item-divider">
                <p>Class 11</p>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 11 A</p>
                <a href="">Attendance</a>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 11 B</p>
                <a href="">Attendance</a>
            </li>

            <li class="item item-divider">
                <p>Class 12</p>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 12 A</p>
                <a href="">http://34.193.134.218/mod/attendance/manage.php?id=385</a>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Class 12 B</p>
                <a href="">Attendance</a>
            </li>
        </ul>
    </ion-content>
</ion-view>
